<h2>Events</h2>
<div>
    <label for="sort-by-dropdpwn">Sort by</label>
    <select id="sort-by-dropdpwn" [(ngModel)]="selectedOrderByField">
      <option *ngFor="let orderByField of orderByFieldNames" [ngValue]="orderByField[1]">{{orderByField[0]}}</option>
    </select>
    <select id="sort-ascending-dropdpwn" [(ngModel)]="selectedAscendingOrder">
      <option *ngFor="let orderByDirection of orderByDirections" [ngValue]="orderByDirection[1]">{{orderByDirection[0]}}</option>
    </select>
    <button (click)="getEvents()" id="apply-sort-button">Apply</button>
</div>
<ul class="events">
    <li *ngFor="let event of events | async | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalResults }"
        (click)="gotoDetail(event)"
        [class.selected]="event === selectedEvent">
        <span [title]="event.title" class="badge">{{event.title | truncate : 35}}</span>
        <span>{{event.startDate | date:'fullDate'}} @ {{event.location || "TBC"}}</span>
    </li>
</ul>

<div class="has-text-centered">
    <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
    <pagination-controls (pageChange)="getEvents($event)" id="server"></pagination-controls>
</div>